@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap');

html {
    scroll-behavior: smooth;
--body-bg: #1b1b1b;
--text-color: #2d354c;
--card-bg: linear-gradient (45deg #F4C4F6, #4BB8C7);
--footer-bg: linear-radial (#E4FFFF, #0CEBB9);
--shadow: rgba: 0, 0, 0, 0.2;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    background: var(--body-bg);
}

section img {
justify-content: center;
border-radius: 2px;
border-color: var(--text-color);
}

